:host{
  display: contents;
}

div,p,img{
  margin: 0;
}

p {
  font-size: 15px;
}

.container{
  width: 250px;
  height: 300px;
  background-color: aqua;
  border-radius: 15px;
  border: 0.5px solid black; /* Borde de 2px, sólido y azul */
  box-shadow: 10px 10px 30px rgba(36, 35, 35, 0.411);
}
img{
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
}
.img{
  height: 195px;
}

.seccionInfo1{
  display: flex;
  flex-direction: row;
  gap: 25px;
  color: purple;
}

.seccionInfo{
  display: flex;
  margin: 10px;
  flex-direction: column;
  align-items: center;
  gap: 5px;
}

.descripcion{
  font-size: 9;

}