<div class="container">
  <div class="img">
    <!-- Usa la propiedad imageUrl del objeto product -->
    <img [src]="product.imageUrl" alt="no hay" width="100%" height="100%">
  </div>
  <div class="seccionInfo">
    <div class="seccionInfo1">
      <!-- Usa las propiedades name y price del objeto product -->
      <p>{{ product.name }}</p>
      <p>$ {{ product.price }}</p>
    </div>
    <div class="seccionInfo2">
      <!-- Usa la propiedad descripcionMin del objeto product -->
      <p>{{ product.descripcionMin }}</p>
    </div>
  </div>
  <!-- Texto adicional que aparecerá al hacer hover -->
  <div class="hover-content">
    <p>Más información sobre el producto...</p>
  </div>
</div>