

<div class="container">
  <div class="img">
    <img src="https://th.bing.com/th/id/OIP.zkdbbGSyBOBUccMfAr8IQgHaHa?w=201&h=201&c=7&r=0&o=5&pid=1.7" alt="no hay" width="100%" height="100%">
    <!-- estos sera activado cuando tengamos base de datos
     <img src={{imageUrl}} alt="no hay" width="100%" height="100%"> -->
  </div>
  <div class="seccionInfo">
    <div class="seccionInfo1">
      <p>{{name}}</p>
      <p>$ {{price}}</p>
    </div>
    <div class="seccionInfo2">
      <p>{{descripcionMin}} </p>
    </div>
  </div>
  <!-- Texto adicional que aparecerá al hacer hover -->
  <div class="hover-content">
    <p>Más información sobre el producto...</p>
  </div>
</div>
