<header class="header">
  <nav class="containerHeader">
    <div class="headerImg">
      <img src="https://i.redd.it/t6qhk3i3mk4d1.jpeg" alt="ChayanneSmall" width="60px" height="60px">
    </div>
    <ul class="containerHeaderLista">
      <li><a routerLink="/screen-home">Inicio</a></li>
      <li><a routerLink="/screen-home">buscar</a></li>
      <li><a routerLink='/login'>Iniciar Sesion</a></li>
    </ul>
  </nav>
</header>
<main>
  <div class="containerBody">
      <h1>ESPOL PROFILE</h1> 
        <h2>Ariel Arias Tipan</h2>
        <div class="perfil">
            
        </div>         
  </div> 
</main>

<footer class="footer">
  <p class="center">Nuevo footer</p>
</footer>


