<header class="header">
  <p class="center">this is the header</p>
</header>


<main class="containerBody">
  <h1 class="text">screen-home works!</h1>
  <div class="containerCard">
    <app-card-product></app-card-product> <!-- Usando CardProductComponent -->
    <app-card-product></app-card-product> <!-- Usando CardProductComponent -->
    <app-card-product></app-card-product> <!-- Usando CardProductComponent -->
    <app-card-product></app-card-product> <!-- Usando CardProductComponent -->
    <app-card-product></app-card-product> <!-- Usando CardProductComponent -->
    <app-card-product></app-card-product> <!-- Usando CardProductComponent -->
    <app-card-product></app-card-product> <!-- Usando CardProductComponent -->
    <app-card-product></app-card-product> <!-- Usando CardProductComponent -->
    <app-card-product></app-card-product> <!-- Usando CardProductComponent -->
    <app-card-product></app-card-product> <!-- Usando CardProductComponent -->
    <app-card-product></app-card-product> <!-- Usando CardProductComponent -->
    <app-card-product></app-card-product> <!-- Usando CardProductComponent -->
    <app-card-product></app-card-product> <!-- Usando CardProductComponent -->
    <app-card-product></app-card-product> <!-- Usando CardProductComponent -->
    <app-card-product></app-card-product> <!-- Usando CardProductComponent -->
    <app-card-product></app-card-product> <!-- Usando CardProductComponent -->
    <app-card-product></app-card-product> <!-- Usando CardProductComponent -->
    <app-card-product></app-card-product> <!-- Usando CardProductComponent -->
    <app-card-product></app-card-product> <!-- Usando CardProductComponent -->
    <app-card-product></app-card-product> <!-- Usando CardProductComponent -->
    <app-card-product></app-card-product> <!-- Usando CardProductComponent -->
  </div>
</main>

<footer class="footer">
  <p class="center">this is the footer</p>
</footer>

