<header class="header">
  <nav class="containerHeader">
    <div class="headerImg">
      <img src="https://w7.pngwing.com/pngs/174/559/png-transparent-chayanne-chiquito-thumbnail.png" alt="ChayanneSmall" width="60px" height="60px">
    </div>
    <ul class="containerHeaderLista">
      <li><a routerLink="/screen-home">Inicio</a></li>
      <li><a routerLink="/screen-home">buscar</a></li>
      <li><a routerLink='/login'>Iniciar Sesion</a></li>
    </ul>
  </nav>
</header>


<main class="containerBody">
  <h1 class="text">screen-home works!</h1>
  <div class="containerCard">
    <app-card-product></app-card-product> <!-- Usando CardProductComponent -->
    <app-card-product></app-card-product> <!-- Usando CardProductComponent -->
    <app-card-product></app-card-product> <!-- Usando CardProductComponent -->
    <app-card-product></app-card-product> <!-- Usando CardProductComponent -->
    <app-card-product></app-card-product> <!-- Usando CardProductComponent -->
    <app-card-product></app-card-product> <!-- Usando CardProductComponent -->
    <app-card-product></app-card-product> <!-- Usando CardProductComponent -->
    <app-card-product></app-card-product> <!-- Usando CardProductComponent -->
    <app-card-product></app-card-product> <!-- Usando CardProductComponent -->
    <app-card-product></app-card-product> <!-- Usando CardProductComponent -->
    <app-card-product></app-card-product> <!-- Usando CardProductComponent -->
    <app-card-product></app-card-product> <!-- Usando CardProductComponent -->
    <app-card-product></app-card-product> <!-- Usando CardProductComponent -->
    <app-card-product></app-card-product> <!-- Usando CardProductComponent -->
    <app-card-product></app-card-product> <!-- Usando CardProductComponent -->
    <app-card-product></app-card-product> <!-- Usando CardProductComponent -->
    <app-card-product></app-card-product> <!-- Usando CardProductComponent -->
    <app-card-product></app-card-product> <!-- Usando CardProductComponent -->
    <app-card-product></app-card-product> <!-- Usando CardProductComponent -->
    <app-card-product></app-card-product> <!-- Usando CardProductComponent -->
    <app-card-product></app-card-product> <!-- Usando CardProductComponent -->
  </div>
</main>

<footer class="footer">
  <p class="center">this is the footer</p>
</footer>

<router-outlet></router-outlet>
